menu "AQS Captive Portal"

    config USE_CAPTIVE_PORTAL
        bool "Use captive portal"
        default y
        help 
            Start captive portal with DNS and mobile redirection at WiFI client connection

endmenu
