menu "AQS LVGL Graphics"

    config ROTATE_DISPLAY
        int "Degree to rotate display"
        default 270
        help 
            TODO: Add Display rotation degree and offset calculation

endmenu