menu "AQS LCD Display"

    choice LCD_CONNECTION_TYPE
        prompt "LCD Connection type: 4 pin I2C 6 pin SPI"
        default CONNECTION_SPI
        help
            Select proper order for LED colour RGB/GRB

        config CONNECTION_SPI
            select DISPLAY_CONNECTION_SPI
            bool "SPI 6 pin"
            help
                Setup similar to Waveshare esp32c6 LCD

        config CONNECTION_I2C
            select DISPLAY_CONNECTION_I2C
            bool "I2C 4 pin"
            help
                Just a simple 4pin I2C OLED display

    endchoice

    config DISP_GPIO_SCLK
        depends on CONNECTION_SPI
        int "LCD Pin SCLK"
        default 7 if IDF_TARGET_ESP32C6
        default 7
        help
            Display pin SCLK (also used in SD card)

    config DISP_GPIO_MOSI
        depends on CONNECTION_SPI
        int "LCD Pin MOSI"
        default 6 if IDF_TARGET_ESP32C6
        default 6
        help
            Display pin MOSI (also used in SD card)

    config DISP_GPIO_RST
        depends on CONNECTION_SPI
        int "LCD Pin RST"
        default 21 if IDF_TARGET_ESP32C6
        default 21
        help
            Display pin RST
    config DISP_GPIO_DC
        depends on CONNECTION_SPI
        int "LCD Pin DC"
        default 15 if IDF_TARGET_ESP32C6
        default 15
        help
            Display pin DC
    config DISP_GPIO_CS
        depends on CONNECTION_SPI
        int "LCD Pin CS"
        default 14 if IDF_TARGET_ESP32C6
        default 14
        help
            Display pin CS
    config DISP_GPIO_BL
        depends on CONNECTION_SPI
        int "LCD Pin BL"
        default 22 if IDF_TARGET_ESP32C6
        default 22
        help
            Display pin BL

    config DISP_I2C_SDA
        depends on CONNECTION_I2C
        int "LCD I2C Pin SDA"
        default 9 if IDF_TARGET_ESP32C6
        default 9
        help
            Display i2c pin SDA (also SCD4x and BME680)

    config DISP_I2C_SCL
        depends on CONNECTION_I2C
        int "LCD I2C Pin SCL"
        default 18 if IDF_TARGET_ESP32C6
        default 18
        help
            Display i2c pin SCL (also SCD4x and BME680)

    config DISP_I2C_ADR
        depends on CONNECTION_I2C
        hex "LCD I2C Address"
        default 0x78 if IDF_TARGET_ESP32C6
        default 0x78
        help
            Display i2c address

endmenu