menu "AQS I2C Master Bus"

    config COMMON_SDA_PIN
        int "SDA GPIO Num"
        default 18 if IDF_TARGET_ESP32C6
        default 0
        help
            SDA Pin - common for multiple sensors.
    
    config COMMON_SCL_PIN
        int "SCL GPIO Num"
        default 3 if IDF_TARGET_ESP32C6
        default 3
        help
            ADC attenuation parameter. Different parameters determine the range of the ADC.

    config I2C_FREQ_HZ
        int "Master Frequency"
        default 100000
        help
            I2C Speed of Master device. 100k usual.

endmenu