menu "Air Q Configuration"

    menu "I2C Configuration"
        comment "SoftAP Configuration"

        config COMMON_SDA_PIN
            int "SCL GPIO Num"
            default 19 if IDF_TARGET_ESP32
            default 1
            help
                SDA Pin where all sensors will be found

        config COMMON_SCL_PIN
            int "SDA GPIO Num"
            default 18 if IDF_TARGET_ESP32
            default 0
            help
                SCL Pin where all sensors will be found

        config I2C_FREQ_HZ
            int "Master Frequency"
            default 100000
            help
                I2C Speed of Master device. 100k usual.

    endmenu

endmenu